@font-face {
    font-family: iosevka;
    font-style: normal;
    src: url(../fonts/iosevka.ttf) format('truetype');
}

.highlight {
    width: 52.5%;
}

pre code {
    margin: 2rem 0 2rem 0;
    width: 97.5%;
    overflow-x: auto;
}

code {
    font-family: iosevka;
}

h2 {
    margin-top: 3.5rem;
}

@media (max-width: 760px) {
    .highlight {
        width: 100%;
    }
}